* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.topbar {
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
}

main {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    column-gap: 1rem;
}

.transparent-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    background-color: rgba(70, 70, 70, 0.75);
}

.content {
    box-sizing: border-box;
    padding: 0 0.1rem 0 0.1rem;
    overflow-y: auto;
    flex: 1;
    width: 100%;
    height: 100%;
    padding-bottom: 10rem;
}

.left-spacer {
    min-width: 1rem;
    width: 0;
}

.left-sidebar {
    position: absolute;
    display: flex;
    height: 100%;
    width: 20%;
    min-width: 15rem;
    overflow: hidden;
}

.left-menu {
    width: 100%;
    min-width: 0;

    border: 1px solid #000;
    background-color: #FFF;
    padding: 0 0.2rem 0 0.2rem;
    overflow-y: auto;
}

ol > ol {
    margin-left: 1rem;
}

li {
    display: list-item;
    list-style-position: inside;
    list-style-type: decimal;
}

.left-button {
    position: relative;
    top: auto;

    flex-shrink: 0;

    border: 1px solid #000;
    border-left: 0;
    background-color: #FFF;
    width: 1rem;
    height: 4rem;
    border-radius: 0 0.2rem 0.2rem 0;

    margin: 0;
    padding: 0;
    appearance: none;
}

.left-button:hover {
    background-color: #EEE;
}

.left-button > svg {
    height: 100%;
    width: 95%;
}

.right-spacer {
    min-width: 0;
    width: 0;
}

.right-sidebar {
    position: absolute;
    display: flex;
    height: 100%;
    width: 33%;
    min-width: 15rem;
    overflow: hidden;
}

.right-menu {
    width: 100%;
    min-width: 0;

    border: 1px solid #000;
    background-color: #FFF;
    padding: 0 0.2rem 0 0.2rem;
    overflow-y: auto;
}

.right-button {
    position: relative;
    top: auto;

    flex-shrink: 0;

    border: 1px solid #000;
    border-right: 0;
    background-color: #FFF;
    width: 1rem;
    height: 4rem;
    border-radius: 0.2rem 0 0 0.2rem;

    margin: 0;
    padding: 0;
    appearance: none;
}

.right-button:hover {
    background-color: #EEE;
}

.right-button > svg {
    height: 100%;
    width: 95%;
}